html {
    background-color: rgb(226, 255, 168);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    height: 100vh;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
}

.title {
    background-image: url(../images/the_stage_2.jpg);
    /* opacity: 0.6; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
}

.instruc {
    margin: 10px 0 10px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

a {
    text-decoration: none;
}

.cats {
    width: auto;
    margin: 0 auto;
    /* background-color: aliceblue; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8 {
    padding: 10px;
    /* background-color: rgb(2, 103, 185); */
    margin: 0 auto;
    width: 180px;
    height: 180px;
    /* border-radius: 8px; */
}

.wm, .mw, .fm, .ann, .vid, .fo, .res, .mis {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box-1 {
    color: white;
    text-shadow: 2px 2px 8px rgb(20, 20, 20);
    background-color: rgb(38, 87, 10);
    box-shadow: 1px 1px 12px black;
    background-image: url(../images/budding_rose.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-2 {
    background-color: rgb(212, 45, 23);
    color: white;
    text-shadow: 2px 2px 8px rgb(20, 20, 20);
    box-shadow: 1px 1px 12px black;
    /* border: 3px solid black; */
    background-image: url(../images/nature_flower.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-3 {
    background-color: rgb(170, 65, 16);
    color: white;
    text-shadow: 2px 2px 8px rgb(20, 20, 20);
    box-shadow: 1px 1px 12px black;
    /* border: 3px solid black; */
    background-image: url(../images/path.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-4 {
    background-color: rgb(140, 175, 43);
    color: white;
    text-shadow: 2px 2px 8px rgb(20, 20, 20);
    box-shadow: 1px 1px 12px black;
    /* border: 3px solid black; */
    background-image: url(../images/stream.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-5 {
    background-color: darkseagreen;
    color: white;
    text-shadow: 2px 2px 8px rgb(20, 20, 20);
    box-shadow: 1px 1px 12px black;
    /* border: 3px solid black; */
    background-image: url(../images/palm_trees.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-6 {
    background-color: rgb(69, 173, 101);
    color: white;
    text-shadow: 2px 2px 8px rgb(20, 20, 20);
    box-shadow: 1px 1px 12px black;
    /* border: 3px solid black; */
    background-image: url(../images/cookie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-7 {
    background-color: darkgray;
    color: white;
    text-shadow: 2px 2px 8px rgb(20, 20, 20);
    box-shadow: 1px 1px 12px black;
    /* border: 3px solid black; */
    background-image: url(../images/tulip.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-8 {
    background-color: darkcyan;
    color: white;
    text-shadow: 2px 2px 8px rgb(20, 20, 20);
    box-shadow: 1px 1px 12px black;
    /* border: 3px solid black; */
    background-image: url(../images/light_house.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foot {
    margin: 40px 0 0 0;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: .7rem;
    /* height: 100%; */
    /* margin-top: auto; */
}

@media only screen and (max-width: 680px) {
    h1 {
        font-size: 40px;
    }
}
